
<div class="wrapper">
  <header class="header-4 skew-separator">
    <!-- class = skew-separator -->
    <!-- img/blees/SVG pic/landing page img/background-wave.svg -->
    <div class="header-wrapper">
      <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand text-white" href="javascript:;">
              Creative Tim
            </a>
            <button
              aria-controls="navbarSupportedContent"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="example-header-4"
              type="button"
            >
              <span class="navbar-toggler-icon"> </span>
            </button>
          </div>
          <div
            class="navbar-collapse"
            [isAnimated]="true"
            [collapse]="isCollapsed"
            id="example-header-4"
          >
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a> Argon <span> PRO </span> </a>
                </div>
                <div class="col-6 collapse-close text-right">
                  <button
                    aria-controls="navigation-index"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="example-header-4"
                    type="button"
                  >
                    <span> </span> <span> </span>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Products </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:;"> Contact Us </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/CreativeTim">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.facebook.com/CreativeTim"
                >
                  <i class="fab fa-facebook-square"> </i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="https://www.instagram.com/CreativeTimOfficial"
                >
                  <i class="fab fa-instagram"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page-header header-video">
        <!-- <div class="overlay"></div> -->
        <div class="contain-width text-center background-slope">
          <div class="row">
            <div class="intro">
              <h1 class="intro-word">AI platform for automated assessment<br>in education</h1>
            </div>
<!--             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1e2342" fill-opacity="1" d="M0,32L26.7,48C53.3,64,107,96,160,101.3C213.3,107,267,85,320,85.3C373.3,85,427,107,480,144C533.3,181,587,235,640,256C693.3,277,747,267,800,250.7C853.3,235,907,213,960,202.7C1013.3,192,1067,192,1120,181.3C1173.3,171,1227,149,1280,165.3C1333.3,181,1387,235,1413,261.3L1440,288L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center lock-relative">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div
              class="icon icon-shape icon-shape-info rounded-circle text-white"
            >
              <i class="ni ni-html5 text-info"> </i>
            </div>
            <div class="description pl-4">
              <h5 class="title">AI for educators</h5>
              <p>
                Blees AI's software platform automatically grades students' responses to domain-specific essay questions and provides instant and customized feedback to them.
              </p>
              <p>
                We partner with the world's leading educators and test publishers to bring personalized evaluation to thousands of students.
              </p>
              <a class="text-info" href="#"> Learn more </a>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div
              class="icon icon-shape icon-shape-info rounded-circle text-white"
            >
              <i class="ni ni-app text-info"> </i>
            </div>
            <div class="description pl-4">
              <h5 class="title">A simple AI training interface for educators</h5>
              <p>
                On the Blees AI platform, educators can train the AI model using a simple and intuitive interface. The AI platform allows educators to build automated assessment. With Blees AI, automating the grading process has never been easier.
              </p>
              <a class="text-info" href="#"> Learn more </a>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary">
            <div
              class="icon icon-shape icon-shape-info rounded-circle text-white"
            >
              <i class="ni ni-bell-55 text-info"> </i>
            </div>
            <div class="description pl-4">
              <h5 class="title">Personalized feedback</h5>
              <p>
                With Blees AI, educators can access each student's learning progress as well as actionable insights and analytics of their performance.
              </p>
              <p>
                The software platform instantly provides personalized feedback to students and helps them to achieve their full potential.
              </p>
              <a class="text-info" href="#"> Learn more </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10 mx-md-auto">
          <img
            class="ml-lg-5"
            src="assets/img/blees/SVG-pic/landing-page-img/img2-interface.svg"
            width="100%"
          />
        </div>
        <a class="button-book">Book a demo</a>
      </div>
<!--       <span class="badge badge-primary badge-pill mb-3">
        Insight
      </span> -->
    </div>
  </div>
  <div class="section features-1">
<!--     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1E2342" fill-opacity="1" d="M0,320L1440,32L1440,320L0,320Z"></path></svg>
    <div class="row text-background-color">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3 text-origin-color">When deep learning AI meets education experts</h3>
        <p class="lead text-origin-color">
          Blees AI applies the latest research in natural language processing. Our deep learning AI models are trained by experts in education end evaluation and are customized to the educator's specific needs.
        </p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1E2342" fill-opacity="1" d="M0,320L1440,32L1440,0L0,0Z"></path></svg> -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h2 class="display-2">When deep learning AI meets education experts</h2>
          </div>
        </div>
        <div class="row">
          <div class="floating-box bg-default">
            <div class="box text-center">
              <div
                class="icon icon-shape bg-success icon-xl rounded-circle text-white"
              >
                <i class="ni ni-spaceship"> </i>
              </div>
            </div>
            <h2 class="lead text-white text-center text-padding">
              Blees AI applies the latest research in natural language processing. Our deep learning AI models are trained by experts in education end evaluation and are customized to the educator's specific needs.
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="col-md-8 mx-auto text-center">
          <h2 class="display-2">How it works</h2>
          <div class="solid-line"></div>
        </div>
        <div class="box-entire">
          <img
            class="img-custom"
            src="assets/img/blees/SVG-pic/landing-page-img/img4-understand.svg"
            width="100%"
          />
          <div class="description pl-4 info-horizontal box-word">
            <h5 class="title">Understand</h5>
            <p>
              Reads and understands student responses. The AI model, pre-trained collaboratively with experts form education analyzes unstructured content and extracts domain-specific concepts in student responses.
            </p>
          </div>
        </div>
        <div>
          <div class="box-entire">
            <img
              class="img-custom flip-flop-img"
              src="assets/img/blees/SVG-pic/landing-page-img/img5-laptop.svg"
              width="100%"
            />
            <div class="description pl-4 info-horizontal box-word">
              <h5 class="title">Grade</h5>
              <p>
                Learns and applies the same judgement practiced by your best markers. It assesses and grades accurately and consistently at
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="box-entire">
            <img
              class="img-custom"
              src="assets/img/blees/SVG-pic/landing-page-img/img6-feedback.svg"
              width="100%"
            />
            <div class="description pl-4 info-horizontal box-word">
              <h5 class="title">Feedback</h5>
              <p>
                Provides instant and personalized feedback to students. Blees AI uses best practices to tailor its responses based on each learner's
              </p>
            </div>
          </div>
        </div>
    </div>
    <div class="container block-space">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="display-2">Why Blees Ai?</h2>
        <div class="solid-line"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div
              class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle icon-first-blue"
            >
              <i class="ni ni-settings-gear-65"> </i>
            </div>
            <h6 class="info-title text-primary text-center text-bolder">
              Achieve consistency in marking
            </h6>
            <p class="description opacity-8 text-center">
              Blees AI's marking result showed 83% consistency with experienced graders.
            </p>
<!--             <a class="text-primary" href="javascript:;">
              More about us <i class="ni ni-bold-right text-primary"> </i>
            </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div
              class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle icon-second-green"
            >
              <i class="ni ni-atom"> </i>
            </div>
            <h6 class="info-title text-center text-bolder">
              Unlock potential for students
            </h6>
            <p class="description opacity-8 text-center">
              Improve both learning outcomes and student satisfaction by personalizing feedback. Blees AI helps students identify the gaps in their learning progress and perform to the best of their abilities.
            </p>
<!--             <a class="text-primary" href="javascript:;">
              Learn about our products
              <i class="ni ni-bold-right text-primary"> </i>
            </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div
              class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle icon-third-red"
            >
              <i class="ni ni-world"> </i>
            </div>
            <h6 class="info-title text-center text-bolder">
              Free up educators' time and save costs
            </h6>
            <p class="description opacity-8 text-center">
              Blees AI scores essays and provides feedback at scale in about 1 minute per paper. Automated grading allows a significant cost saving of greater than 69%. By freeing up their time and resources, educators can focus on value-added activities such as creating a dynamic learning environment and designing creative instructional materials.
            </p>
<!--             <a class="text-primary" href="javascript:;">
              Check our documentation
              <i class="ni ni-bold-right text-primary"> </i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center text-left">
      <div class="col-lg-5 col-12">
        <div class="mx-auto text-center">
          <h3 class="display-4">Blees AI client spotlight</h3>
          <div class="solid-line"></div>
        </div>
        <p class="lead pb-4 letter-size">
          A large certification body representing a Canadian profession experienced 84% scoring accuracy, 13x faster scoring results, and a 60% cost reduction opportunity by applying Blees AI's technology. Contact us to receive our full client case.
        </p>
        <div class="row row-input">
          <div class="col-sm-8 col-12">
            <input
              aria-label="Your email"
              class="form-control"
              id="signupSrEmail"
              name="email"
              placeholder="Your email"
              type="email"
            />
          </div>
          <div class="col-sm-4 col-12 pl-lg-0">
            <button class="btn btn-primary btn-block" type="submit">
              More
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12 pl-0">
        <img
          class="ml-lg-5"
          src="assets/img/blees/SVG-pic/landing-page-img/client.svg"
          width="100%"
        />
      </div>
    </div>
  </div>
  <section class="blogs-2">
    <div class="container-fluid">
      <div class="row mb-md-5">
        <div class="col-md-8 mx-auto">
          <h3 class="display-3 text-center">Our recent writings</h3>
<!--           <p class="lead text-center">
            I always felt like I could do anything. That's the main thing
            people are controlled by! Thoughts- their perception of
            themselves! They're slowed down by their perception of
            themselves. If you're taught you can't do anything, you won't do
            anything. I was taught I could do everything.
          </p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/damian.jpg')"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    3/11/19
                  </h6>
                  <h5 class="card-title">Quitting a stable job and a journey to an AI startup</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/ashim.jpg')"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    3/11/19
                  </h6>
                  <h5 class="card-title">3 questions to consider in building a founding team</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/odin.jpg')"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    3/11/19
                  </h6>
                  <h5 class="card-title">AI? Where to start?</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="card card-blog card-background"
            data-animation="zooming"
          >
            <div
              class="full-background"
              style="background-image: url('assets/img/sections/dane.jpg')"
            ></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">
                    3/11/19
                  </h6>
                  <h5 class="card-title">Five Companies using Artifical intelligence in Automated Essay Scoring</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center">
    <a class="button-others">Other stories</a>
  </div>
  <br />
  <br />

  <div class="background-mail">
  <div class="container">
    <div _ngcontent-c3="" class="row justify-content-center">
      <div _ngcontent-c3="" class="col-lg-8">
        <div _ngcontent-c3="" class="card bg-gradient-secondary shadow">
          <div _ngcontent-c3="" class="card-body p-lg-5">
            <h4 _ngcontent-c3="" class="mb-1">Want to work with us?</h4>
            <p _ngcontent-c3="" class="mt-0">Your project is very important to us.</p>
            <div _ngcontent-c3="" class="form-group mt-5">
              <div _ngcontent-c3="" class="input-group input-group-alternative">
                <div _ngcontent-c3="" class="input-group-prepend">
                  <span _ngcontent-c3="" class="input-group-text"><i _ngcontent-c3="" class="ni ni-user-run"></i></span>
                </div>
                <input _ngcontent-c3="" class="form-control" placeholder="Your name" type="text">
              </div>
            </div>
            <div _ngcontent-c3="" class="form-group">
              <div _ngcontent-c3="" class="input-group input-group-alternative">
                <div _ngcontent-c3="" class="input-group-prepend">
                  <span _ngcontent-c3="" class="input-group-text"><i _ngcontent-c3="" class="ni ni-email-83"></i></span>
                </div>
                <input _ngcontent-c3="" class="form-control" placeholder="Email address" type="email">
              </div>
            </div>
            <div _ngcontent-c3="" class="form-group mb-4">
              <textarea _ngcontent-c3="" class="form-control form-control-alternative" cols="80" name="name" placeholder="Type a message..." rows="4"></textarea>
            </div>
            <div _ngcontent-c3="">
              <button _ngcontent-c3="" class="btn btn-default btn-round btn-block btn-lg" type="button">Send Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--   <section
    class="pricing-5"
    id="pricing-6"
    style="background-image: url('assets/img/ill/bg_pricing5.svg');"
  >
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <h3 class="display-3 mt-3">
            Choose a plan for your next project
          </h3>
          <p class="lead mt-0">
            You have Free Unlimited Updates and Premium Support on each
            package. You also have 20 days to request a refund.
          </p>
        </div>
        <div class="col-lg-7 col-md-8 ml-auto mr-auto">
          <tabset type="pills" class="nav-fill nav-pills-primary">
            <tab heading="Cheaper">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="card card-pricing bg-white border-0 text-center mb-4"
                  >
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Gold</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$100</div>
                      <span> per month </span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary"> 200GB </b>
                          <span> File Storage </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> Unlimited </b>
                          <span> Users </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> Premium </b>
                          <span> Support </span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!"> Request a demo </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card card-pricing bg-white border-0 text-center mb-4"
                  >
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">
                        Platinum
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$135</div>
                      <span> per month </span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary"> 500GB </b>
                          <span> File Storage </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> Unlimited </b>
                          <span> Users </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> No time </b>
                          <span> Tracking </span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!"> Request a demo </a>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Expensive">
              <div class="row">
                <div class="col-md-6">
                  <div
                    class="card card-pricing bg-white border-0 text-center mb-4"
                  >
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">
                        Standard
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$25</div>
                      <span> per month </span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary"> 20GB </b>
                          <span> File Storage </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> 15 </b>
                          <span> Users </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> false </b>
                          <span> Support </span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!"> Request a demo </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="card card-pricing bg-white border-0 text-center mb-4"
                  >
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">
                        Premium
                      </h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$59</div>
                      <span> per month </span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary"> 50GB </b>
                          <span> File Storage </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> 100 </b>
                          <span> Users </span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary"> Premium </b>
                          <span> Support </span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="#!"> Request a demo </a>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </section>
</div>
 -->